[submodule "dstogov/ir"]
	path = dstogov/ir
	url = https://github.com/dstogov/ir.git
[submodule "ir"]
	path = ir
	url = https://github.com/dstogov/ir.git
[submodule "third_party/binaryen"]
	path = third_party/binaryen
	url = https://github.com/WebAssembly/binaryen.git
[submodule "third_party/dstogov-ir"]
	path = third_party/dstogov-ir
	url = https://github.com/dstogov/ir.git
